<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lista-producto.component.scss">
</head>
<body>
    <h1 class="tituloLC">Lista Productos</h1>
    <div class="tabla">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="ID">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let producto"> {{producto.uid}} </mat-cell>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="Nombre">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let producto"> {{producto.nombre}} </mat-cell>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="Cantidad">
            <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
            <mat-cell *matCellDef="let producto"> {{producto.cantidad}} </mat-cell>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="Precio">
            <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
            <mat-cell *matCellDef="let producto"> {{producto.precio}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="Accion">
            <mat-header-cell *matHeaderCellDef> Accion </mat-header-cell>
            <mat-cell *matCellDef="let producto">
              <button class="botonT" (click)="editar(producto)">Editar</button>
              <button class="botonT" (click)="eliminar(producto)">Eliminar</button>
            </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      
        </mat-table>   
      <!--<span *ngIf="listadoProductos.length==0">
          No existen carreras
      </span> -->  
      </div>
</body>
</html>