<p>Lista de Contactos</p>

<span *ngIf="listadoContactos.length == 0">
    No existen contactos
</span>

<ul>
    <li *ngFor="let contacto of listadoContactos">
        <p>
            Cedula: {{contacto.cedula}} | Nombre: {{contacto.nombre}} | Apellido: {{contacto.apellido}}| Correo: {{contacto.correo}}| Celular: {{contacto.celular}}| Direccion: {{contacto.direccion}}
        </p>
        <ul>
        <button (click)="editar(contacto)">Editar</button>
        <button (click)="eliminar(contacto)">Eliminar</button>
    </ul>
    </li>
    
</ul>
