<head>
    <link rel="stylesheet" href="lista-contactos.component.scss">
</head>
<h1 class="tituloLC">Lista de Contactos</h1>
<div class="tabla">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
    <ng-container matColumnDef="Cedula"  >
      <mat-header-cell *matHeaderCellDef> Cedula </mat-header-cell>
      <mat-cell *matCellDef="let contacto"> {{contacto.cedula}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Nombre">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let contacto"> {{contacto.nombre}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Apellido">
      <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
      <mat-cell *matCellDef="let contacto"> {{contacto.apellido}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Correo">
      <mat-header-cell *matHeaderCellDef> Correo </mat-header-cell>
      <mat-cell *matCellDef="let contacto"> {{contacto.correo}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Celular">
      <mat-header-cell *matHeaderCellDef> Celular </mat-header-cell>
      <mat-cell *matCellDef="let contacto"> {{contacto.celular}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Direccion">
      <mat-header-cell *matHeaderCellDef> Direccion </mat-header-cell>
      <mat-cell *matCellDef="let contacto"> {{contacto.direccion}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Accion">
      <mat-header-cell *matHeaderCellDef> Accion </mat-header-cell>
      <mat-cell *matCellDef="let contacto">
        <button class="botonT" (click)="editar(contacto)">Editar</button>
        <button class="botonT"  (click)="eliminarF(contacto)">Eliminar</button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <span *ngIf="listadoContactosWS.length == 0">
    No existen contactos
</span>
</div>

