<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="app.component.scss" />
  </head>
  <body>
  <div class="encabezado">
  <img class="img" src="https://preview.redd.it/i3x7tnc8rrj71.jpg?auto=webp&s=267c7e26b2dfbaa8db0db7ac393dad9465e4e90e" alt="imagen">
  <h1 class="letrasencabezado">Practica de Angular</h1>
  <h2 class="letrasencabezado">Bienvenidos</h2>
</div>
<div class="ladoderecho">
  <h3 class="titulo">Contacto</h3>
  <app-contacto></app-contacto>
</div>
<div class="ladoizquierdo">
  <nav>
<a class="enlaces" routerLink="/">Home</a>
<a class="enlaces" routerLink="/paginas/crear-contacto">Crear Contacto</a>
<a class="enlaces" routerLink="/paginas/listacontactos">Listado Contactos</a>
<a class="enlaces" routerLink="/paginas/crear-carrera">Crear Carrera</a>
<a class="enlaces" routerLink="/paginas/listacarreras">Listado Carreras</a>
<a class="enlaces" routerLink="/paginas/nuevo-producto">Crear Producto</a>
<a class="enlaces" routerLink="/paginas/listaproductos">Listado Productos</a>
  </nav>
</div>
<router-outlet></router-outlet>
<div> 
<footer class="pie">
<p>&copy; 2023 Mi Empresa. Todos los derechos reservados.</p>
<p>Contáctanos: info@miempresa.com</p>
<p>Andres Alvarado</p>
</footer>
</div>  
<div>
  <!--<mat-slide-toggle>Toggle me!</mat-slide-toggle>-->
</div>
<div>
</div>
  </body>
</html>