<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="app.component.scss" />
  </head>
  <div class="encabezado">
  <h1 class="letrasencabezado">Practica de Angular</h1>
  <h2 class="letrasencabezado">Bienvenidos</h2>
</div>
<div class="ladoderecho">
<app-contacto></app-contacto>
</div>
<div class="ladoizquierdo">
  <nav>
<ul>
  <div> 
<a class="enlaces" routerLink="/paginas/listacontactos">Listado</a>
<router-outlet></router-outlet>
</div>
<a class="enlaces">Pagina 3</a>
<a class="enlaces">Pagina 4</a>
<a class="enlaces">Pagina 5</a>
</ul>
  </nav>
</div>

<div> 
<footer class="pie">
<p>&copy; 2023 Mi Empresa. Todos los derechos reservados.</p>
<p>Contáctanos: info@miempresa.com</p>
</footer>
</div>  
</html>