label{  
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
input{ 
    display: flex; 
    justify-content: center;
    padding: 5px;
    flex-direction: column;
    align-items: flex-start;
}
#boton{
    display: flex;
    margin-top: 25px;
    margin-left: 80px;
}
.example-button-row {
    display: table-cell;
    max-width: 600px;
  }
.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }

