label{  
    justify-content: flex-start;
    display: flex;
}
input{ 
    display: flex; 
    justify-content: center;
    padding: 5px;
}
#boton{
    display: flex;
    margin-top: 25px;
    margin-left: 80px;
}
.example-button-row {
    display: table-cell;
    max-width: 600px;
  }