label{  
    justify-content: center;
    display: flex;
}
input{ 
    display: flex; 
    justify-content: center;
    padding: 5px;
}
button{
    display: flex;
    margin-top: 25px;
    margin-left: 80px;
}
