.mat-mdc-table {
    width: 62%;
    max-height: 500px;
    overflow: visible; 
  }
  
  .mat-column-name {
    height: 50px;
    width: 50px;
    line-height:22px;
  }
  .tituloLC, span{
    display: flex;
    
  }
  