<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="carrera.component.scss">
</head>
<body>
    <div class="formulario">
        <label for="txtCodigo">Codigo</label>
        <input id="txtCodigo" [(ngModel)]="carrera.codigo"/>
        <label for="txtNombre">Nombre</label>
        <input id="txtNombre" [(ngModel)]="carrera.nombre"/>
        <label for="numCiclo">Numero de Ciclos</label>
        <input id="numCiclo" type="number" [(ngModel)]="carrera.numCiclo">
        <label for="numMateria">Numero de Materias</label>
        <input id="numMateria" type="number" [(ngModel)]="carrera.numMateria" />
        <div class="example-button-row">
            <button id="boton" mat-raised-button (click)="guardar()">Guardar</button>
        </div>
    </div>
</body>
</html>
